* {
  padding: none;
  margin: none;
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Open Sans';
  padding: 0;

}

.navbar {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: RGB(253, 7, 12);
  padding: 15px;
  color: white;
  margin: 15px;
  border-radius: 9px;
  box-shadow: 5px 5px 50px RGBa(244, 15, 23, 0.25);
}

.go-back {

}

.navbar img {
  width: 45px;
}

.grid {
  font-weight: lighter;
  font-size: 30px;
}

.container {
  width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 45px;
  border-radius: 21px;
  box-shadow: 5px 5px 50px RGB(0, 0, 0, 0.1);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 5px 15px;
  border: 1px solid RGB(135, 169, 223);
  border-radius: 5px;
  background-color: lightgrey;
  color: black;
}

#txt-input {
  background-color: white;
  padding-left: 5px;
}

h1 {
  color: black;
}
#score {
  color: black;
}

// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
